/* Mobile */
@media all and (max-width: 375px) {
    .nav-item {
        display: none;
    }

    nav {
        padding-top: 2rem;
        padding-left: 1.5rem;
    }

    .header-content {
        padding: 5rem 1.5rem;
    }

    .header-content p {
        margin-top: 1.25rem;
    }

    .section-two .image {
        width: 75%;
        padding-left: 3rem;
        padding-top: 5rem;
    }

    .section-two .content {
        font-family: 'Ubuntu', sans-serif;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        padding: 0 6rem;
    }

    .section-two h2 {
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
    }

    .section-two p {
        font-size: 1rem;
        margin-bottom: 5rem;
    }

    .section-one>.section-container {
        font-family: 'Ubuntu', sans-serif;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        /* padding: 0  6rem; */
    }

    .section-one h1 {
        font-size: 1.5rem;
        margin-top: 2rem;
        margin-bottom: 1rem;
    }

    .section-one p {
        font-size: 0.9rem;
    }

    .main-sections {
        padding: 0 0 0 0;
    }

    /* Section 3 */
    .section-three {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }


    .section-three .img-container {
        margin-top: 20px;
        width: 50%;
        padding-left: 3rem;
        padding-right: 5rem;
        margin-bottom: 5px;
        display: flex;
        left: 20px;
        height: 291.5px;
    }

    .text-block {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 5rem;
    }

    .text-block p {
        padding: 0 1rem;
    }

    .text-block h2 {
        margin-top: 16px;
        margin-bottom: 30px;
    }

    #sec-one-img {
        margin-top: 20px;
        width: 50%;
        padding-left: 3rem;
        padding-right: 5rem;
        margin-bottom: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        left: 20px;
        height: 291.5px;
    }


    #sec-one-content {
        margin-top: 0px;
    }

    .menu-icon {
        display: flex;
        align-items: center;
    }

    footer {
        flex-direction: column;
        text-align: center;
    }

    footer img {
        margin-bottom: 20px;
    }

    .footer-nav-title {
        margin-top: 10px;
    }
}