/* Mobile */
@media all and (max-width: 375px) {
    .nav-item {
        display: none;
    }

    nav {
        padding-top: 2rem;
        padding-left: 1.5rem;
    }

    .header-content {
        padding: 5rem 1.5rem;
    }

    .header-content p {
        margin-top: 1.25rem;
    }

    .section-two .image{
        width: 75%;
        padding-left: 3rem;
        padding-top: 5rem;
    }

    .section-two .content {
        font-family: 'Ubuntu', sans-serif; 
        display: flex;
        flex-direction: column;
        text-align: left; 
        justify-content: center;
        padding: 0 6rem;

    }
    

    .section-two h2{
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
    }
    
    .section-two p{
        font-size: 1rem;
        margin-bottom: 5rem;
    }

}

