/* Mobile */
@media all and (max-width: 375px) {
    .nav-item {
        display: none;
    }

    nav {
        padding-top: 2rem;
        padding-left: 1.5rem;
    }

    .header-content {
        padding: 5rem 1.5rem;
    }

    .header-content p {
        margin-top: 1.25rem;
    }

    .menu-icon {
        display: flex;
        align-items: center;
    }

    footer {
        flex-direction: column;
        text-align: center;
    }

    footer img {
        margin-bottom: 20px;
    }

    .footer-nav-title {
        margin-top: 10px;
    }
}