* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
}

header {
    background-image: linear-gradient(to right, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
    color: white;
    border-bottom-left-radius: 2.5rem;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    padding-bottom: 5rem;
}

nav {
    padding: 0 3.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
}

.nav-left {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.nav-right {
    display: flex;
}

.nav-item {
    margin: 2.5rem 0 2.5rem 1.5rem;
}

.btn {
    padding: 0.25rem 1.5rem;
    border-radius: 2.5rem;
}

.btn:hover {
    background-color: white;
    color: hsl(353, 100%, 62%);
}

.nav-list {
    display: none;
}

.header-content {
    padding: 5rem 0 2.5rem 0;
}

.header-content p {
    margin-top: 1rem;
}

.btn-container {
    display: flex;
    justify-content: center;
}

.main-sections {
    position: relative;
    text-align: center;
    padding: 2rem 1.5rem;
    color: #1f3f5b;
    margin: 2rem 0;
}

.main-sections h1,h2{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
}

.main-sections h1 {
    font-size: 1.8rem;
}
  
.main-sections h2 {
    font-size: 1.5rem;
}

.section-container {
    display: flex;
    flex-direction: row-reverse;
}

.section-one .img-container{
    background-image: url("images/illustration-editor-desktop.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 850px;
    position: relative;
    left: 150px;
}

.section-one .content{
    font-family: 'Ubuntu', sans-serif; 
}

.section-two{
    background: #2c2d3f;
    background-image: url("images/bg-pattern-circles.svg");
    background-position: -5rem -15rem;
    background-repeat: no-repeat;
    background-size: 500px 500px;
    border-radius: 0 5rem 0 5rem;
    color: white;
}

.section-two .img-container, .section-two h2, .section-two p{
    position: relative;
}

.section-two .content {
    font-family: 'Ubuntu', sans-serif; 
    display: inline-block;
    text-align: right;
    width: 50%;
    padding-bottom: 150px;
    padding-left: 10px;
}

.section-two h2{
    font-size: 2rem;
    margin-bottom: 1rem;
}

.section-two p{
    font-size: 1.5rem;
}


